
.containerInput {
    
}

.searchBar {
    width: 100%;
    padding-inline: 16px;
    padding-block: 12px;
    font-size: 20px;
    background-color: var(--card);
}

.searchBar:focus {
    outline: none;
}

.searchBar:placeholder-shown{
    font-style:italic;
}