
.containerInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.label {
    margin-left: 6px;
    color: var(--textAlternative);
    font-size: 10px;
}

.input {
    resize: none;
    vertical-align: text-top;
    padding-inline: 12px;
    padding-block: 10px;
    color: var(--text);
    font-size: 14px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: var(--card);
}

.input:focus {
    outline: none;
    border: 2px solid var(--secondary);
}