
.headerDetails {
    width: 100%;
    height: 26%;
    background: rgb(117,8,117);
    background: linear-gradient(180deg, rgba(117,8,117,1) 0%, rgba(28,3,28,1) 120%);
}

.name {

}

.address {
    
}