* {
  font-family: 'Roboto', sans-serif;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

.html,
body {
  height: 100vh;
  width: 100%;

  margin: 0;
  padding: 0;
  color: var(--fontColor);
  background-color: var(--secondaryDark);
}

input {
  color: var(--text);
}

input:placeholder {
  color: var(--placeholder);
}

a, button {
  cursor: pointer;
  border-style: none;
  text-decoration: none;
}

section {
  height: 90vh;
  margin-top: 10vh;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #37ED34;
  --primaryDark: #0F5D0E;
  --primaryLight: #62F15F;

  --secondary: #730073;
  --secondaryDark: #470047;

  --background: #F5F5F5;
  --card: #F5F5F5;
  --active: #E1E1E1;

  --text: #141414;
  --textAlternative: #333333;
  --disabled: #575757;
  --placeholder: #575757;
}